@font-face {
    font-family: 'Anton-Regular';
    src: url('../src/Fonts/Anton/Fonts/WEB/fonts/Anton-Regular.woff2') format('woff2'),
        url('../src/Fonts/Anton/Fonts/WEB/fonts/Anton-Regular.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-Black';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Black.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-Bold';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Bold.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-ExtraBold';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-ExtraBold.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-ExtraLight';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-ExtraLight.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-ExtraLight.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: 'Outfit-Light';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Light.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-Medium';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Medium.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-Regular';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Regular.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Outfit-SemiBold';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-SemiBold.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: italic;
}


@font-face {
    font-family: 'Outfit-Thin';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Thin.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Outfit-Variable';
    src: url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Variable.woff2') format('woff2'),
        url('../src/Fonts/Outfit/Fonts/WEB/fonts/Outfit-Variable.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

/* CSS */

/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
}

@media (min-width: 768px) {
    .button-54 {
        padding: 0.25em 0.75em;
    }
}